.filterBox {
    margin-left: 10px;
    background-color: rgba(35, 37, 46, 0.9);
    border-radius: 20px;
    padding: 0;
    color: white;
    height: 250px;
}

.searchInputStyle {
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 20px;
} .searchInputStyle::placeholder {
    color: white
}

.selectStyle {
    border-radius: 8px;
}