.breadcrumb-item+.breadcrumb-item::before{content:var(--bs-breadcrumb-divider,">") !important ;}

.dialogContainer {
    max-width: 80vw;
    max-height: 85vh;
}

button:focus {
    color: white;
    border: none;
} 

dialog::backdrop {
    background-color: black;
    opacity: 90%;
  }