@media (max-width: 768px) {
    .responsiveBreakpoint {
        display: none;
    }
  }

.my-modal .modal-content {
    background-color: rgb(21 23 28);
}

.filterContainer {
    background-color: rgba(35, 37, 46, 0.9);
    border-radius: 40px;
    padding: 15px;
    color: white;
}

.scroll {
    max-height: 125px;
    overflow-y: auto;
}

.card-styling {
    background-color: rgba(35, 37, 46, 0.9);
    color: white;
}

.card-styling { 
    transition: box-shadow 0.3s ease; 
}

.card-styling:hover { 
    box-shadow: rgba(255, 255, 255, 0.20) 0px 5px 15px; 
}

.watchListBtn {
    position: absolute;
    bottom: 7px;
    right: 15px;
    z-index: 2000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(35, 37, 46, 0.9); 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #474747; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353535; 
}